@keyframes color-change {
    0% {
      color: blue;
      font-size: 24px;
      
    }
  
    50% {
      color: red;
      font-size: 28px;
      
    }
  
    100% {
      color: blue;
      font-size: 24px;
      
    }
}
@keyframes color-change2 {
    0% {
      color: pink;
      font-size: 18px;
    }
  
    50% {
      color: purple;
      font-size: 22px;
    }
  
    100% {
      color: pink;
      font-size: 18px;
    }}
body {
    font-family: Inter,  sans-serif; /* Семейство шрифтов */
    font-size: 16px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #ffffff; /* Цвет основного текста */ 
}
h1 {
    color: #FD98FB; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    
}
h1:hover { animation: color-change 3s infinite; }
h2:hover { animation: color-change2 3s infinite; }
h2 {
    color: #FD98FB; /* Цвет заголовка */
    font-size: 18px; /* Размер шрифта в пунктах */
    font-family: Courier, serif; /* Семейство шрифтов */
}